div(class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium")
  button(class="menu-icon" type="button" data-toggle)
  div(class="title-bar-title") Menu

div(class="top-bar" id="example-menu")
  div(class="top-bar-left")
    ul(class="dropdown menu" data-dropdown-menu)
      li(class="menu-text") Site Title
      li(class="has-submenu")
        a(href="#0") One
        ul(class="submenu menu vertical" data-submenu)
          li
            a(href="#0") One
          li
            a(href="#0") Two
          li
            a(href="#0") Three
      li
        a(href="#0") Two
      li
        a(href="#0") Three

  div(class="top-bar-right")
    ul(class="menu")
      li
        input(type="search" placeholder="Search")
      li
        button(type="button" class="button")
