div(class="title-bar small-12" data-responsive-toggle="example-menu" data-hide-for="medium")
  button(class="menu-icon" type="button" data-toggle)
  div(class="title-bar-title") Menu

div(class="top-bar small-12" id="example-menu")
    ul(class="menu dropdown align-spaced" data-dropdown-menu)
      li(class="has-submenu")
        a(href="#0") Perfil
        ul(class="submenu menu vertical" data-submenu)
          li
            a(href="#0") Ver
      li(class="has-submenu")
        a(href="#0") Listas
        ul(class="submenu menu vertical" data-submenu)
          li
            a(class='menu-create') Crear
          li
            a(href="#0") Mis Listas
      li(class="has-submenu")
        a(href="#0") Configuracion
        ul(class="submenu menu vertical" data-submenu)
          li
            a(href="#0") Opciones
          li
            a(href="#0") Perfil
          li
            a(href="#0") Privacidad
