div(class="title-bar" data-responsive-toggle="main-nav" data-hide-for="medium")
  button(class="menu-icon" type="button" data-toggle="main-nav")
  div(class="title-bar-title") Menu

div(class="top-bar small-12" id="main-nav")
    ul(class="menu dropdown vertical medium-horizontal align-spaced"  data-responsive-menu="drilldown medium-dropdown" data-auto-height="true" data-animate-height="true")
      li(class="has-submenu")
        a(href="#0") Perfil
        ul(class="submenu menu vertical" data-submenu)
          li
            a(href="#0") Ver
      li(class="has-submenu")
        a(href="#0") Listas
        ul(class="submenu menu vertical" data-submenu)
          li
            a(class='menu-create') Crear
          li
            a(href="#0") Mis Listas
      li(class="has-submenu")
        a(href="#0") Configuracion
        ul(class="submenu menu vertical" data-submenu)
          li
            a(href="#0") Opciones
          li
            a(href="#0") Perfil
          li
            a(href="#0") Privacidad
          li
            a(data-open="logout-modal") Salir

div(class="reveal" id="logout-modal" data-reveal)
  h3 Logout
  p(class="lead") ¿Esta seguro que desea salir?
  a(class="button warning logout-button") Salir
  button(class="close-button" data-close aria-label="Close modal" type="button")
