div(class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium")
  button(class="menu-icon" type="button" data-toggle)
  div(class="title-bar-title") Menu

div(class="top-bar" id="example-menu")
  div(class="top-bar-left")
    ul(class="dropdown menu" data-dropdown-menu)
      li(class="menu-text") Wishlist
      li(class="has-submenu")
        a(href="#0") Perfil
        ul(class="submenu menu vertical" data-submenu)
          li
            a(href="#0") Ver
      li(class="has-submenu")
        a(href="#0") Listas
        ul(class="submenu menu vertical" data-submenu)
          li
            a(class='menu-create') Crear
          li
            a(href="#0") Mis Listas
      li(class="has-submenu")
        a(href="#0") Configuracion
        ul(class="submenu menu vertical" data-submenu)
          li
            a(href="#0") Opciones
          li
            a(href="#0") Perfil
          li
            a(href="#0") Privacidad

  div(class="top-bar-right")
    ul(class="menu")
      li
        input(type="search" placeholder="Search")
      li
        button(type="button" class="button") Search
