div(id='header' class='home-hero')
  div.row
    div.text-center
      h1(style='color: #FFF;') Smart gift
      h2(style='color: #FFF;') Crea, Comparte, Obsequia!
div(class='row text-center')
  div(class='small-12 colums')
    h2 Crea y comparte tu lista de intereses con el mundo.
    h4.subheader Captura, Comparte y Compra lo que que realmente desees y necesites!
      p. Imagina archivar ese objeto que viste alguna vez y no pudiste comprar en aquel momento.
        ¿No seria genial poder guardar todos tus deseos hasta que puedas obtenerlo, o mejor aun: Que alguien lo obtenga por ti?
        ¿Porque pasar horas y horas inventando un regalo a esa persona que tal vez ni siquiera le agrade ni necesite?
        Mejor regala algo que esa misma persona desea recibir y se encuentre a tu alcance de obsequiárselo.

    div(class='small-4 columns')
      p
        a(href='#')
          img(src='assets/img/home/intro/explica.png')
          h4 Comparte
        Comparte en una lista ese objeto con tus amigos.

    div(class='small-4 columns')
      p
        a(href='#')
          img(src='assets/img/home/intro/compras.png' width='250' heigth='250')
          h4 Tiempo de Compras
        p.
          Ha llegado el momento en que puedes obtenerlo, o mejor aun ¿Se dio la oportunidad que otras personas te lo puedes obsequiar?
          ¡Excelente! Tienen su catalogo de compras listo en base de tus deseos e intereses.

    div(class='row text-center')
      a(class='big round button expand sign-up') Registrate!
      a(class='big round button expand login') ¿Ya tienes una cuenta?
