div(class="callout large text-center")
  div("row align-center")
    div(class="small-12")
      a(class="expanded button sign-up") Registrate!
      a(class="expanded button login") ¿Ya tienes una cuenta?
