section#social-container
  div(class="row align-center text-center")
    div(class="column small-1")
      a(href="#" target="_black")
        i.fi-social-facebook
    div(class="column small-1")
      a(href="#" target="_black")
        i.fi-social-twitter
    div(class="column small-1")
      a(href="#" target="_black")
        i.fi-social-instagram

section#menu-container
  .menu

section#search-container
  div(class="row align-center text-center")
      h1 Busqueda
      input(type="text" id="search" placeholder="Ingresa un patron de búsqueda..." required)
      a(id="btnBuscar" class="expanded button") Buscar

section#category-container
  h3.text-center Categorias
  div(class="row align-center text-center")
    .categories

section#wish-container
  div(class="row align-center text-center")
    .wishs
