.menu

.row

    div(class='small-9 small-centered columns text-center')
        h1 Busqueda
        input(type='text' id='search' placeholder='Ingresa un patron de búsqueda...' required)

    div(class='small-4 small-centered columns text-center')
        a(id='btnBuscar' class='small round button expand') Buscar
        <br>


h1 Categorias

.categories

div(id='barraCarga' class='filaoculta')
  div(class='progress-label') Buscando...

.wishs
