section#search-container
  div(class="row align-center text-center")
      h1 Busqueda
      input(type="text" id="search" placeholder="Ingresa un patron de búsqueda..." required)
      a(id="btnBuscar" class="expanded button") Buscar

section#category-container
  h3.text-center Categorias
  div(class="row align-center text-center")
    .categories

section#wish-container
  div(class="row align-center text-center")
    .wishs
