.row
  div(class='small-12 columns')
      h2 Crear Lista

  div(class='small-6 large-centered columns text-left')
    label Nombre
    input(type='text' id='name' name='name' placeholder='Escribe un nombre para la lista' required data-invalid)
    label Privacidad

    select(disabled)
        option(value='') -Selecciona el tipo
        option(value='personal')  Personal
        option(value='protected') Privada
        option(value='public' selected) Publica


  div(class='large-12 columns')
      <hr>
      div(id='btnAnadir' class='large-12 columns text-right')
        div(id='btn-anadir' class='button tiny' data-open='wishModal') Añadir
      <hr>

  .listaDeseos


input(type='hidden' name='hdWishListId' id='hdWishListId' value='0')

div(id='wishModal' class='reveal large' data-reveal)
  p Cargando...

script(type='text/javascript' src='http://maps.google.com/maps/api/js?key=AIzaSyAScZ6H1tG4C4jECpZu2pCL2qbwDCIMEEg')
