div#location-content
  p
    input(type="text" maxlenth="10" id="location-name" placeholder="Introduce un nombre" required)

  input(type="button" class="button tiny" value="Guardar" id="btn-location")
