doctype html
html(class='no-js' lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title SmarthWish
    link(rel='stylesheet' href='index.css')
  body

    div(class='row text-center')
      div(class='small-12 columns')
        .app-container
        script(src="index.js")
