div(class="row text-center")
  div(class="small-12 column")
    form
      div(class="callout alert errors filaoculta")
          h1 Autentificacion de Usuario
      label Usuario
      input(type="text" placeholder="Ingresa tu correo" id="email" name="email" required data-invalid)
      <br>
      label Contraseña
      input(type="password" placeholder="Ingresa tu contraseña" id="password" name="password")
      <br>
      button(class="expanded button" type="submit") Ingresar
