div(class='row text-center')
    div(class='small-12 colums')
        <br>
        <hr>
        <br>

        form
            .row
                div(class='large-12 columns')
                div(class='callout alert errors filaoculta')
                    h1 Autentificacion de Usuario
            .row
                div(class='small-6 large-centered columns')
                    label Usuario
                    input(type='text' placeholder='Ingresa tu correo' id='email' name='email' required data-invalid)
                    <br>
                    label Contrase単a
                    input(type='password' placeholder='Ingresa tu contrase単a' id='password' name='password')
                    <br>
                    div(class='callout secondary forgot-password')
                      p 多Olvidaste tu contrase単a?
                        a(href='#') Recupararla
            <br>
            div(class='small-12 columns')
                button(class='big round button' type='submit') Ingresar
